<html lagn="ko" 
      xmlns:th="http://www.thymeleaf.org">
      	
	<div th:fragment="navFragment"  class="band navigation">
	
		<nav class="container primary">
	
			<div class="sixteen columns">
			
				<ul>
				
					<li><a href="/board/list/0/?tableId=bd1">Web Program</a>
						<ul>
							<li><a href="/board/list/0/?tableId=bd4"><span>- </span>.NET</a></li>
							<li><a href="/board/list/0/?tableId=bd1"><span>- </span>JAVA</a></li>
							<li><a href="/board/list/0/?tableId=bd3"><span>- </span>PHP</a></li>
							<li><a href="/board/list/0/?tableId=bd2"><span>- </span>ASP</a></li>
							<!--<li><a href="/board/list/0/?tableId=bd20"><span>- </span>WORDPRESS</a></li>-->
						</ul>
					</li>
					<li><a href="/board/list/0/?tableId=bd5">JS</a></li>
					<li><a href="/board/list/0/?tableId=bd9">CSS + HTML5</a>
                   <ul>
                       <li><a href="/board/list/0/?tableId=bd9"><span>- </span>CSS</a></li>
							<li><a href="/board/list/0/?tableId=bd18"><span>- </span>TEMPLATE</a></li>
						</ul>
					</li>
					<li><a href="/board/list/0/?tableId=bd14">MOBILE APP</a>
						<ul>
							<li><a href="/board/list/0/?tableId=bd14"><span>- </span>ANDROID</a></li>
							<li><a href="/board/list/0/?tableId=bd15"><span>- </span>IOS</a></li>
							<li><a href="/board/list/0/?tableId=bd19"><span>- </span>PHONEGAP</a></li>
						</ul>
					</li>
					<li><a href="/board/list/0/?tableId=bd6">DATABASE</a>
						<ul>
							<li><a href="/board/list/0/?tableId=bd6"><span>- </span>ORACLE</a></li>
							<li><a href="/board/list/0/?tableId=bd7"><span>- </span>MSSQL</a></li>
							<li><a href="/board/list/0/?tableId=bd8"><span>- </span>MYSQL</a></li>
							<li><a href="/board/list/0/?tableId=bd25"><span>- </span>SPARK/HADOOP</a></li>
							<li><a href="/board/list/0/?tableId=bd6"><span>- </span>NOSQL</a></li>
						</ul>
					</li>
					<li><a href="/board/list/0/?tableId=bd11">SERVER</a>
						<ul>
							<li><a href="/board/list/0/?tableId=bd11"><span>- </span>LINUX</a></li>
							<li><a href="/board/list/0/?tableId=bd16"><span>- </span>UNIX</a></li>
							<li><a href="/board/list/0/?tableId=bd17"><span>- </span>WINDOWS</a></li>
						</ul>
					</li>
					
					<li><a href="/board/list/0/?tableId=bd10">OTHER</a>
                          <ul>
                          	<li><a href="/board/list/0/?tableId=bd23"><span>- </span>GIT</a></li>
                          	<li><a href="/board/list/0/?tableId=bd24"><span>- </span>배포/개발환경</a></li>
							<li><a href="/board/list/0/?tableId=bd10"><span>- </span>OTHER</a></li>
							<li><a href="/board/list/0/?tableId=bd"><span>- </span>STUDY</a></li>
							<li><a href="/board/list/0/?tableId=bd13"><span>- </span>REFERS</a></li>
						</ul>
                    </li>
                        
				</ul>
			
			</div>
			
		</nav><!--end container-->
		
	</div><!--end band-->

</html>